<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
</head>
<body>
    <h1>Make a Prediction</h1>
    <form action="/predict" method="post">
        {% for feature, range in numeric_columns_ranges.items() %}
            <label for="{{ feature }}">{{ feature }}</label>
            <input type="number" name="{{ feature }}" id="{{ feature }}" min="{{ range[0] }}" max="{{ range[1] }}" required>
            <br><br>
        {% endfor %}
        <button type="submit">Predict</button>
    </form>
</body>
</html>
