<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Efficiency Predictor</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="topnav">
        <a href="{{ url_for('index') }}" class="active">Home</a>
        <a href="{{ url_for('help') }}">Help</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('tips') }}">Tips</a>
    </nav>

    <div class="content-box">
        <h1>Welcome to Our Energy Efficiency Prediction Web App</h1>
        <p>
            Our web app helps you assess and improve the energy efficiency of your home using a powerful machine learning model. By providing a few key details about your building, you can receive tailored recommendations to make your home more energy efficient.
        </p>
        <p>
            Our app analyzes building data and energy performance metrics to provide personalized suggestions. These suggestions can help you save on energy costs, reduce environmental impact, and improve the overall energy rating of your home.
        </p>
        <p>
            Whether you're looking to upgrade your insulation, switch to energy-efficient appliances, or simply improve your home's overall energy usage, our app has you covered. Start by entering your data, and let our model do the rest!
        </p>
    </div>

    <!-- Prediction Form Section -->
    <section class="prediction-form">
        <h2>Make a Prediction</h2>
        <form action="/predict" method="post">
            {% for feature, range in numeric_columns_ranges.items() %}
                <div class="input-container">
                    <label for="{{ feature }}">{{ feature }}</label>
                    <input type="number" name="{{ feature }}" id="{{ feature }}" min="{{ range[0] }}" max="{{ range[1] }}" required>
                    <div class="tooltip">
                        <button type="button">?</button>
                        <span class="tooltiptext">Enter a value between {{ range[0] }} and {{ range[1] }}</span>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn-primary">Predict</button>
        </form>
    </section>


</body>
</html>
