<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\static\styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
</head>
<body>

    <div id="navbar" class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#help" class="split">Help</a>
        <a href="#about" class="split">About us</a>
        <a href="#tips" class="split">Tips</a>
    </div>


    <div class="centered-container">
        <h1>Welcome to Our Web App</h1>
        <p>Discover amazing features.</p>
    </div>


    <div class="centered-container">
        <h1>Make a Prediction</h1>
        <form action="/predict" method="post" class="centered-form">
            {% for feature, range in numeric_columns_ranges.items() %}
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <label for="{{ feature }}" style="margin-right: 10px;">{{ feature }}</label>
                    <input type="number" name="{{ feature }}" id="{{ feature }}" min="{{ range[0] }}" max="{{ range[1] }}" required style="flex-grow: 1; margin-right: 10px;">

                    <!-- Tooltip Info button -->
                    <div class="tooltip">
                        <button type="button" style="background-color: #ddd; border: none; padding: 5px 10px; cursor: pointer;">?</button>
                        <span class="tooltiptext">Enter a value between {{ range[0] }} and {{ range[1] }}</span>
                    </div>
                </div>
            {% endfor %}
            <button type="submit">Predict</button>
        </form>
    </div>

</body>
</html>
